<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="APP_KEY" value="BZKtihQBYr9pcFJXy47KCUovFQSOMr85"/>

        <server name="CLIENT_ID" value="2"/>
        <server name="CLIENT_SECRET" value="P1vyLEdOp43P9IhssnhWEYrqRCLa7FwTTxf3to8O"/>
    </php>
</phpunit>
